*{
  font-family: Helvetica;

}
.main-container {
  margin-top: 20px;
}

.form-container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
